body {
  background-color: #E2F1F4;
  padding-top: 30px;
  padding-bottom: 50px;
}

button {
  margin-top: 25px;
}

.jumbotron {
  background-image: url("../img/jumboback.png");
  background-position: center, center;
  background-repeat: no-repeat;
  font-family: 'Lobster', cursive;
  color: #fff;
}

.jumbotron h1, .jumbotron h3 {
  padding-left: 25%;
}

#work {
  font-family: 'Courgette', cursive;
}

#results {
  font-family: 'Lobster', cursive;
}
